---
- name: Install Docker and Docker Compose
  apt:
    name:
      - docker.io
      - docker-compose
    state: present

- name: Ensure Docker service is running
  systemd:
    name: docker
    enabled: yes
    state: started

- name: Add ansibleadmin to docker group
  user:
    name: ansibleadmin
    groups: docker
    append: yes
