---
- name: Disable root SSH login
  lineinfile:
    dest: /etc/ssh/sshd_config
    regexp: '^PermitRootLogin'
    line: 'PermitRootLogin no'
  notify: Restart ssh
  become: yes

- name: Ensure password authentication is disabled
  lineinfile:
    dest: /etc/ssh/sshd_config
    regexp: '^PasswordAuthentication'
    line: 'PasswordAuthentication no'
  notify: Restart ssh
  become: yes

- name: Ensure UFW is enabled and default policy is deny
  ufw:
    state: enabled
    policy: deny
  become: yes

# Handler for reloading SSH config
- name: Restart ssh
  service:
    name: ssh
    state: restarted
  become: yes
